ejercicios_3ªEV/anxo/HTML Anxo/XML/Schema/Ejer3/empleado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="empleado">
        <xs:complexType>
            <xs:all>
                <xs:element name="Nombre" type="xs:string"></xs:element>
                <xs:element name="Apellido" type="xs:string"></xs:element>
                <xs:element name="COD" type="xs:int"></xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>