ejercicios_3ªEV/anxo/HTML Anxo/XML/DTD/Ejer3/Ejer3.dtd

<!ELEMENT productos (producto+)>
<!ELEMENT producto (producto*|raton*|monitor*|teclado*)+>
<!ELEMENT raton (codigo+,nombre+,descripcion+)>
<!ELEMENT monitor (codigo+,nombre+,descripcion+)>
<!ELEMENT teclado (codigo+,nombre+,descripcion+)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>